.profile--card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.profile--card h1, h4, h5 {
    margin: 0;
}

.profile--card h1 {
    margin-bottom: 10px;
    font-size: 32px;
    letter-spacing: 1px;
}

.profile--card h4 {
    margin-bottom: 18px;
    font-size: 16px;
    color: #F3BF99;
}

.profile--card h5 {
    font-size: 12px;
    color: #F5F5F5;
}
